body {
    font-size: 45%;
    color: #344966;
    background-color :#F0F4EF;
    font-family: 'Garamond', serif;
    width: 100%;
}

/** HEADER **/
#header-nav {
    background-color: #E6AACE;
    border-radius: 0;
    border: 0;
    width: 100%;
}

.container-fluid {
    width: 100%;
}

/* @media (max-width: 530px) {
    #header-nav {
        width: 530px;
    }
    
    .container-fluid {
        width: 530px;
    }
} */

.navbar-header {
    width: max-content;
}

#logo-img {
    background-image: url('../images/IMG_6611[1].png'); 
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%
}

.navbar-brand {
    padding-top: 50px;
    width: min-content;
  }

/* .navbar-brand {
    padding-top: 50px;
    width: min-content;
    margin-right: 0px;
} */

.navbar-brand h1 { /* Website name */
    font-size: 2em;
    color: #344966;
    font-family: 'Garamond', serif;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #0D1821;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

@media (max-width: 530px) {
    .navbar-brand {
        padding-top: 30px;
    }
    
    .navbar-brand h1 {
        font-size: 7vw;
    }

    .subtitle-p {
        margin-block-start: 3vw !important;
        margin-block-end: 5vw !important;
    }

    .navbar-subtitle {
        font-size: 3vw;
    }

    .subtitle-img {
        width: 5vw;
    }
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #344966;
    font-weight: 550;
}

a:hover {
    background: #BFCC94;
}

.navbar-brand p { /* Data nerd */
    text-transform: uppercase;
    font-size: .9em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}

@media (min-width: 992px) {
    #email {
        position: absolute;
        top: 50px;
        right: 20px;
        font-size: 222%;
    }

    .email-link {
        padding: 0.5em;
    }
}

.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
}

button {
    padding: 1px 2px !important;
}

@media (min-width: 992px) {
    .navbar-collapse {
        width: max-content;
        position: absolute;
        top: 100px;
        right: 20px;
        font-size: 222%
    }
}

@media (min-width: 531px), (max-width: 991px) {
    .navbar-collapse {
        width: max-content;
        position: absolute;
        top: 51px;
        right: 13px;
        font-size: 222%;
    }

    .nav-link {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

@media(max-width: 530px) { /* ~330 px is where things get wonky and I'm leavin it that way *shrug* */
    .navbar-toggler-icon {
        width: 5vw;
        height: 5vw;
    }
    
    .navbar-collapse {
        width: max-content;
        position: absolute;
        top: 10vw;
        right: 4vw;
        font-size: 2.5vw;
    }

    .nav-link {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .pic-icon {
        width: 2.5vw;
    }

    .nav-link {
        padding: 4px !important;
    }
}