/*
NOTES
max screen width: 2560px
min screen width: 320px
max screen height: 1440px
min screen height: 480px
*/

body {
    font-size: 45%;
    color: #344966;
    background-color :#F0F4EF;
    font-family: 'Garamond', serif;
    width: 100%;
}

/** HEADER **/
#header-nav {
    background-color: #E6AACE;
    border-radius: 0;
    border: 0;
    width: 100%;
}

.container-fluid {
    width: 100%;
}

/* @media (max-width: 530px) {
    #header-nav {
        width: 530px;
    }
    
    .container-fluid {
        width: 530px;
    }
} */

.navbar-header {
    width: 100%;
}

#logo-img {
    background-image: url('../images/IMG_6611[1].png'); 
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%
}

.navbar-brand {
    padding-top: 50px;
    width: min-content;
  }

/* .navbar-brand {
    padding-top: 50px;
    width: min-content;
    margin-right: 0px;
} */

.navbar-brand h1 { /* Website name */
    font-size: 2em;
    color: #344966;
    font-family: 'Garamond', serif;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #0D1821;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

@media (max-width: 530px) {
    .navbar-brand {
        padding-top: 30px;
    }
    
    .navbar-brand h1 {
        font-size: 7vw;
    }

    .subtitle-p {
        margin-block-start: 3vw !important;
        margin-block-end: 5vw !important;
    }

    .navbar-subtitle {
        font-size: 3vw;
    }

    .subtitle-img {
        width: 5vw;
    }
}

a:link, a:visited {
    text-decoration: none;
    color: #344966;
    font-weight: 550;
}

.active, #green-bg:hover {
    background: #BFCC94;
}

.navbar-brand p { /* Data nerd */
    text-transform: uppercase;
    font-size: .9em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}

@media (min-width: 766px) {
    #email {
        position: absolute;
        top: 50px;
        right: 20px;
        font-size: 222%;
    }

    .email-link {
        padding: 0.5em;
    }
}

.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
}

button {
    padding: 1px 1px !important;
}

@media (min-width: 992px) {
    .navbar-collapse {
        width: max-content;
        position: absolute;
        top: 100px;
        right: 15px;
        font-size: 222%
    }
}

@media (min-width: 531px) and (max-width: 991px) {
    .navbar-collapse {
        width: max-content;
        position: absolute;
        top: 51px;
        right: 8px;
        font-size: 222%;
    }

    .nav-link {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

@media(max-width: 530px) { /* ~330 px is where things get wonky and I'm leavin it that way *shrug* */
    button {
        padding: 0px !important;
        border: 0px !important;
    }
    
    .navbar-toggler-icon {
        width: 5vw;
        height: 5vw;
    }
    
    .navbar-collapse {
        width: max-content;
        position: absolute;
        top: 10vw;
        right: 3vw;
        font-size: 2.5vw;
    }

    .nav-link {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .pic-icon {
        width: 2.5vw;
    }

    .nav-link {
        padding: 4px !important;
    }
}

/**Home Page**/
#main-content {
    padding: 12px !important;
}

.container {
    max-width: none !important;
}

/* @media (min-width: 1499) {
    .jumbotron {
        text-align: center;
    }
} */

/* @media (min-width: 1200px) and (max-width: 1399px) {
    .jumbotron {
        background: url('../images/Computing-feat-1200.jpg') no-repeat;
        height: 630px;
        box-shadow: 0 0 50px #E6AACE;
        border: 2px solid #344966;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron {
        background: url('../images/Computing-feat-992.jpg') no-repeat;
        height: 520px;
        box-shadow: 0 0 50px #E6AACE;
        border: 2px solid #344966;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        background: url('../images/Computing-feat-768.jpg') no-repeat;
        height: 402px;
        box-shadow: 0 0 50px #E6AACE;
        border: 2px solid #344966;
    }
}

@media (max-width: 767px) {

} */

.jumbotron {
    box-shadow: 0 0 12px #BFCC94;
    border-radius: 10px;
    /* border: 2px solid #344966; */
}

h1.display-4 {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 30px;
    color: #344966;
    margin: 0px !important;
    text-align: center;
}

.lead {
    padding: 10px;
    padding-top: 5px;
    font-size: 20px;
    color: #344966;
    margin: 0px !important;
    text-align: center;
}

.my-4 {
    margin: 10px !important;
}

@media(max-width: 530px) {
    h1.display-4 {
        font-size: 5vw;
        padding: 2vw;
        padding-bottom: 1vw;
    }

    .lead {
        font-size: 4vw;
        padding: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
}

.row {
    --bs-gutter-x: 0 !important;
}

#education-tile, #experience-tile, #projects-tile, #hiring-tile {
    height: 350px;
    margin: 10px;
    position: relative;
    border: 2px solid #0D1821;
    overflow: hidden;
}

#education-tile:hover, #experience-tile:hover, #projects-tile:hover, #hiring-tile:hover{
    box-shadow: 0 2px 10px 2px #E6AACE;
}

#education-tile {
    background: url('../images/IMG_6690.PNG') no-repeat;
    background-position: center;
    background-size: cover;
}

#experience-tile {
    background: url('../images/IMG_6694.PNG') no-repeat;
    background-position: center;
    background-size: cover;
}

#projects-tile {
    background: url('../images/IMG_6692.PNG') no-repeat;
    background-position: center;
    background-size: cover;
}

#hiring-tile {
    background: url('../images/IMG_6693.PNG') no-repeat;
    background-position: center;
    background-size: cover;
}

#education-tile span, #experience-tile span, #projects-tile span, #hiring-tile span {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 2.2em;
    text-transform: uppercase;
    background-color: #0D1821;
    color: #F0F4EF;
    opacity: .8;
}

/**Footer**/
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #BFCC94;
    font-size: small;
    border-top: 0;
}

#credits span, #socials span {
    font-weight: bold;
}

@media (max-width: 530px) {
    .panel-footer div.row {
        margin-bottom: 6vw;
    }

    .panel-footer {
        font-size: 1.3em;
    }
}

@media (max-width: 991px) {
    .panel-footer section {
        text-align: center;
    }

    .panel-footer section hr {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

/**Content**/
h1.display-6 {
    padding: 20px;
    padding-bottom: 5px;
    font-size: 30px;
    color: #344966;
    margin: 0px !important;
    text-align: left;
}

.lead1 {
    padding: 20px;
    padding-top: 5px;
    font-size: 20px;
    color: #344966;
    margin: 0px !important;
    text-align: left;
}

h1.display-7 {
    padding: 20px;
    padding-bottom: 5px;
    font-size: 30px;
    color: #344966;
    margin: 0px !important;
    text-align: right;
}

.lead2 {
    padding: 20px;
    padding-top: 5px;
    font-size: 20px;
    color: #344966;
    margin: 0px !important;
    text-align: right;
}

.wrap-text-right {
    float: right;
    margin: 32px;
    width: 15%;
    height: 15%;
    border-radius: 20px;
    border-style: outset;
}

.wrap-text-right-v2 {
    float: right;
    margin: 32px;
    width: 12%;
    height: 12%;
    border-radius: 20px;
    border-style: outset;
}

.wrap-text-left {
    float: left;
    margin: 32px;
    width: 15%;
    height: 15%;
    border-radius: 20px;
    border-style: inset;
}

.nav-menu {
    font-size: medium;
}

#backtotop {
    font-size: x-small;
    text-decoration: underline;
}

#backtotop:hover {
    color: #E6AACE;
}

@media (max-width: 766px) and (min-width: 530px) {
    h1.display-6, h1.display-7 {
        font-size: 3.5vw;
        padding: 2vw;
        padding-bottom: 1vw;
    }

    .lead1, .lead2 {
        font-size: 2.5vw;
        padding: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .wrap-text-right, .wrap-text-left, .wrap-text-right-v2 {
        margin: 2vw;
    }
}

@media (max-width: 530px) {
    h1.display-6, h1.display-7 {
        font-size: 4vw;
        padding: 2vw;
        padding-bottom: 1vw;
    }

    .lead1, .lead2 {
        font-size: 3vw;
        padding: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .wrap-text-right, .wrap-text-left, .wrap-text-right-v2 {
        margin: 2vw;
    }

    .nav-menu {
        font-size: 2.5vw;
    }

    #backtotop {
        font-size: 2vw;
    }
}

@media (max-width: 991px) and (min-width: 767px) {
    .wrap-text-right, .wrap-text-left {
        width: 20%;
        height: 20%;
    }

    .wrap-text-right-v2 {
        width: 17%;
        height: 17%;
    }
}

@media (max-width: 766px) {
    .wrap-text-right, .wrap-text-left {
        width: 25%;
        height: 25%;
    }

    .wrap-text-right-v2 {
        width: 22%;
        height: 22%;
    }
}

#education-title {
    padding-top: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #E6AACE;
}

#nav-menu-link {
    padding: 1px;
}

#nav-menu-link:hover {
    text-shadow: .25px .25px .25px #E6AACE;
}

.hr-divider {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

/**TESTING**/
.dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
}
.btn-label {
	position: relative;
	display: inline-block;
    padding: 5px 10px;
	border-radius: 3px 0 0 3px;
}
 
.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}
.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited, .btn-dark:focus, .btn-dark.active{
    background-color: #E6AACE !important;
    border-width: 0px;
    color: #344966 !important;
}

.btn {
	margin-bottom: 10px;
}
.dropdown-menu {
    background-color: #F0F4EF;
    color: #344966;
}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .dropdown-item:active, .col-md-2:hover, .col-md-2:focus, .col-md-2.active, .col-md-2:active {
    background-color: #BFCC94;
    color: #344966 !important;
}
.nav-bar {
    font-size: medium;
    width: 100%;
}
.sticky {
    position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        background-color: #F0F4EF;
}